.dialog-room0{
    height: 100vh;
    background-image: url("../images/room0/font-ricky.png");
    width: 100vw;
    background-size: 100%, auto;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-attachment: fixed;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.dialog1{
    box-sizing: content-box;
    width: 80%;
    height: 90%;
    display: flex;
    position: relative;
    margin-left: 10vw;
    background-image: url("../images/room0/back2.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0,3;
    flex-direction: row;
    justify-content: space-around;
    
}

.img-dialog{
    width: 35%;
    height: 45%;
position: absolute;
top: 30%;
left: 12%;}

.p-dialog{
    width: 25%;
    height: 30%;
    font-size: 20px;
    padding: 45px 15px;
    z-index: 6;
    position: absolute;
    right: 12%;
    top :10%
}

.btnStart {
    z-index: 6;
    position: absolute;
    top: 40%;
    right: 12%;
    padding-top: 15px;
    height: 2em;
    width: 35%;
    text-align: center;
    border: 0px;
    background-color: black;
    color: #fff;
    font-size: x-large;
    cursor: pointer;
}

