* {
  margin: 0;
  padding: 0;
}

.room {
  width: 100vw;
  height: 100vh;
  font-size: 24px;
  position: relative;
}

#room1 {
  position: absolute;
  z-index: 2500;
  background-color: #000;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}
#room2 {
  position: absolute;
  z-index: 2000;
}
#room3 {
  position: absolute;
  top: 0;
  z-index: 1500;
  background-color: var(--background-room-3);
  width: 100vw;
  height: 92.9%;
}

#room4 {
  background-size: cover;
  position: absolute;
  z-index: 1000;
  background: url(/assets/img/room4/fondDonjon.png) no-repeat center;
  background-size: cover;
}

#room5 {
  position: absolute;
  z-index: 500;
  background: url(/assets/img/endGame.jpg) no-repeat center;
  background-size: cover;
}

.room button[data-key="key1"] {
  position: var(--buttons-position);
  top: var(--button-twenty-percent);
  left: 2%;
}
.room button[data-key="key2"] {
  position: var(--buttons-position);
  top: var(--button-twenty-percent);
  right: var(--button-twenty-percent);
}
.room button[data-key="key3"] {
  position: var(--buttons-position);
  bottom: var(--thirteen-percent);
  left: var(--button-twenty-percent);
}

.room button[data-key="key2"],
.room button[data-key="key3"],
.room button[data-key="key1"] {
  padding: 1em;
}

.inventory {
  display: var(--display-flex);
  width: var(--thirteen-percent);
  justify-content: space-evenly;
}

.hidden-checkbox {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.hidden-checkbox:checked + i {
  color: green;

  z-index: 1001;
}

.hidden-checkbox:checked + img {
  border-color: green;
  border: 0.5vw solid green;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background-navbar);
  z-index: 3300;
  height: 5vh;
}

.navbar button {
  width: 18%;
  height: 5vh;
  margin: 10px;
  cursor: pointer;
}

.navbar label {
  cursor: pointer;
}
.navbar img {
  width: 5vw;
  height: 5vh;
  border: 1px solid #000;
  transition: transform 0.2s ease;
}
.navbar img:hover {
  transform: scale(1.2);
}

.navbar label i {
  border: 1px solid #4f4f4f;
  width: 175px;
  background-color: transparent;
  color: #000000;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  margin: 10px;
}

#broom {
  width: 20vw;
  position: absolute;
  display: none;
}

#broomFixed {
  width: 40vw;
  display: none;
  top: 40vh;
  right: 30vw;
  position: absolute;
}

.doorRoom4 {
  z-index: 10;
  width: 100vw;
  height: 95vh;
}

/*  CANVAS ELEMENTS  */
.canvasElement {
  width: var(--hundred-percent);
  margin: auto;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  background-image: url("https://w0.peakpx.com/wallpaper/413/615/HD-wallpaper-tv-show-rick-and-morty-breaking-bad-morty-smith-rick-sanchez.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.38), 0 0 21px #88039b, 0 0 42px #88039b,
    0 0 82px #88039b, 0 0 92px #88039b, 0 0 102px #88039b, 0 0 151px #88039b;
  h1,
  p {
    text-decoration: underline;
  }
  .gamePresentation {
    font-family: var(--room3-font-family-text-element);
    font-size: 3.5rem;
    color: rgb(255, 0, 0);
    position: absolute;
    top: 5%;
    text-align: center;
    left: 27.5%;
  }
  .playButtonRoom3 {
    position: absolute;
    width: 250px;
    height: 45px;
    border-radius: 5px;
    z-index: 2;
    outline: none;
    cursor: pointer;
    top: 50%;
    font-family: var(--room3-font-family-button-element);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.5),
      0 0 10px rgba(255, 255, 255, 0.38), 0 0 21px #88039b, 0 0 42px #88039b,
      0 0 82px #88039b, 0 0 92px #88039b, 0 0 102px #88039b, 0 0 151px #88039b;
    background-color: #000000;
    letter-spacing: 1rem;
    left: 42.5%;
    &:hover {
      text-shadow: none;
    }
    &:active {
      color: #ff0000;
    }
  }
}

.room-key {
  position: absolute;
  top: 30px;
  border: 1px solid blue;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
@media (max-width: 1548px) {
  canvas {
    height: 100%;
  }
  .menu {
    .gamePresentation {
      font-family: var(--room3-font-family-text-element);
      font-size: 3.5rem;
      color: rgb(255, 255, 255);
      top: 5%;
      text-align: center;
      left: 5%;
      text-decoration: underline;
      position: absolute;
      text-shadow: 0 0 7px rgba(255, 255, 255, 0.5),
        0 0 10px rgba(255, 255, 255, 0.38), 0 0 21px #88039b, 0 0 42px #88039b,
        0 0 82px #88039b, 0 0 92px #88039b, 0 0 102px #88039b, 0 0 151px #88039b;
    }
    .playButtonRoom3 {
      position: absolute;
      width: 250px;
      height: 45px;
      border-radius: 5px;
      z-index: 25;
      outline: none;
      cursor: pointer;
      top: 50%;
      font-family: var(--room3-font-family-button-element);
      font-size: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(255, 255, 255);
      text-shadow: 0 0 7px rgba(255, 255, 255, 0.5),
        0 0 10px rgba(255, 255, 255, 0.38), 0 0 21px #88039b, 0 0 42px #88039b,
        0 0 82px #88039b, 0 0 92px #88039b, 0 0 102px #88039b, 0 0 151px #88039b;
      background-color: #000000;
      letter-spacing: 1rem;
      left: 35.5%;
      &:hover {
        text-shadow: none;
      }
      &:active {
        color: #ff0000;
      }
    }
  }
  canvas {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
}
button,
button::after {
  padding: 10px 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: transparent;
  position: relative;
}

button::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: "GLITCH";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

button:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #e94be8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

button:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

button:hover {
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}
