* {
    margin: 0;
    padding: 0;
}

.room {
    width: 100vw;
    height: 100vh;
    font-size: 24px;
}
#room0 {
    background-color: var(--background-room-0);
}
#room1 {
    background-color: var(--background-room-1);
}

#room2 {
    background-color: var(--background-room-2);
}

#room3 {
    background-color: var(--background-room-3);
}

#room4 {
    background-color: var(--background-room-4);
}

.room button[data-key="key1"] {
    position: var(--buttons-position);
    top: var(--button-twenty-percent);
    left: 2%;
}
.room button[data-key="key2"] {
    position: var(--buttons-position);
    top: var(--button-twenty-percent);
    right: var(--button-twenty-percent);
}
.room button[data-key="key3"] {
    position: var(--buttons-position);
    bottom: var(--thirteen-percent);
    left: var(--button-twenty-percent);
}

.room button[data-key="key2"],
.room button[data-key="key3"],
.room button[data-key="key1"] {
    padding: 1em;
}

.inventory-item {
    display: none;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: var(--display-flex);
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-navbar);
}

.navbar button {
    width: var(--thirteen-percent);
    height: 5vh;
    margin: 10px;
}
.inventory {
    display: var(--display-flex);
    width: var(--thirteen-percent);
}
/*  CANVAS ELEMENTS  */
.canvasElement {
    width: var(--hundred-percent);
    margin: auto;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

canvas {
    position: relative;
    background-image: url("https://ae01.alicdn.com/kf/HTB1_UM4aEzrK1RjSspmq6AOdFXak.jpg_640x640Q90.jpg_.webp");
    width: 100%;
    height: 92.9%;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    width: 100%;
    height: 92.9%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background-image: url("https://w0.peakpx.com/wallpaper/413/615/HD-wallpaper-tv-show-rick-and-morty-breaking-bad-morty-smith-rick-sanchez.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .gamePresentation {
        font-family: var(--room3-font-family-text-element);
        font-size: 3.5rem;
        color: rgb(255, 255, 255);
        top: 5%;
        text-align: center;
        left: 27.5%;
        text-decoration: underline;
        position: absolute;
        text-shadow: 0 0 7px rgba(255, 255, 255, 0.5),
        0 0 10px rgba(255, 255, 255, 0.38),
        0 0 21px #88039b,
        0 0 42px #88039b,
        0 0 82px #88039b,
        0 0 92px #88039b,
        0 0 102px #88039b,
        0 0 151px #88039b;

    }
    .playButtonRoom3 {
        position: absolute;
        width: 250px;
        height: 45px;
        border-radius: 5px;
        z-index: 2;
        outline: none;
        cursor: pointer;
        top:50%;
        font-family: var(--room3-font-family-button-element);
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 7px rgba(255, 255, 255, 0.5),
            0 0 10px rgba(255, 255, 255, 0.38),
            0 0 21px #88039b,
            0 0 42px #88039b,
            0 0 82px #88039b,
            0 0 92px #88039b,
            0 0 102px #88039b,
        0 0 151px #88039b;
        background-color: #000000;
        letter-spacing: 1rem;
        left: 42.5%;
        &:hover {
            text-shadow: none;
        }
        &:active {
            color: #FF0000;
        }
    }
}

.room-key {
    position: absolute;
    top: 30px;
    border: 1px solid blue;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
@media (max-width: 1548px) {
    .menu {
        border: 1px solid red;
        width: 100vw;
        height: 95%;
        background-image: url("https://w0.peakpx.com/wallpaper/413/615/HD-wallpaper-tv-show-rick-and-morty-breaking-bad-morty-smith-rick-sanchez.jpg");
        background-repeat: no-repeat;

        .gamePresentation {
            font-family: var(--room3-font-family-text-element);
            font-size: 3.5rem;
            color: rgb(255, 255, 255);
            top: 5%;
            text-align: center;
            left: 5%;
            text-decoration: underline;
            position: absolute;
            text-shadow: 0 0 7px rgba(255, 255, 255, 0.5),
            0 0 10px rgba(255, 255, 255, 0.38),
            0 0 21px #88039b,
            0 0 42px #88039b,
            0 0 82px #88039b,
            0 0 92px #88039b,
            0 0 102px #88039b,
            0 0 151px #88039b;

        }
        .playButtonRoom3 {
            position: absolute;
            width: 250px;
            height: 45px;
            border-radius: 5px;
            z-index: 2;
            outline: none;
            cursor: pointer;
            top:50%;
            font-family: var(--room3-font-family-button-element);
            font-size: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            text-shadow: 0 0 7px rgba(255, 255, 255, 0.5),
            0 0 10px rgba(255, 255, 255, 0.38),
            0 0 21px #88039b,
            0 0 42px #88039b,
            0 0 82px #88039b,
            0 0 92px #88039b,
            0 0 102px #88039b,
            0 0 151px #88039b;
            background-color: #000000;
            letter-spacing: 1rem;
            left: 35.5%;
            &:hover {
                text-shadow: none;
            }
            &:active {
                color: #FF0000;
            }
        }
    }
    canvas {
        width: 100%;
        border: 1px solid red;
    }
}