@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
:root {
  /* COMMONS */
  --display-flex: flex;
  --background-navbar: #fefee2;
  color: #000000;
  --black-solid-border: 1px solid #000000;
  /* ROOM 3 */
  --room3-font-family-button-element: "Rubik Glitch", system-ui;
  --room3-font-family-text-element: "Aleo", serif;
  /* assets/css/style.css */
  --buttons-position: absolute;
  --button-twenty-percent: 20%;
  --thirteen-percent: 30%;
  --hundred-percent: 100%;
  /* assets/css/main.css */
}
